*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.back{
    width: 675px;
    background: url(https://www.footboom.net/img/upload/2/50757-Barselona.jpeg);
    position: absolute;
    left: 300px;
    top: 0;
    

    
}
.football_teams{
    background-color:  rgba(189,7,7,0.8);
    
}

img{
    width: 40px;
    height: 40px;
    margin: 5px;

}

.text{
    text-align: center;
    color: white;
}

hr{
    height: 2px;
}

.football_teams{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    
}

.group{
    flex-basis: 40%;
    margin: 10px;
    padding: 15px;
    
}

.group div strong {
    margin: 15px;
}

strong{
    color: white;
}

 

 

