*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://usdtoreros.com/images/2019/2/1/Team_Tunnel.png?width=1416&height=796&mode=crop);

}


.img-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1035px;
    background: rgba(255,0,0,0.5);
    z-index: 1;
    
    
}
img{
    width: 40px;
    height: 40px;
    z-index: 999;

}

.text{
    text-align: center;
    color: white;
}

hr{
    height: 2px;
}
/*
p{
    text-align: center;
    font-weight: bold;
    color:darkred;
}
*/

.football_teams{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    
}

.group{
    flex-basis: 40%;
    /*border: 1px solid darkblue;
    background-color: lightcyan;
    */
    margin: 10px;
    padding: 15px;
    
}
/*  display: flex;
    flex-direction: column;
    justify-content: center;

}
*/.group div strong {
    margin: 15px;
}

strong{
    color: white;
}

 

 

